<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indice de grasa corporal</title>
</head>
<body>
  <section class="contenedor">
    <header class="header d-flex justify-content-around row">
        <div class="col-10 col-sm-6 d-flex justify-content-center p-sm-4">
          <button class="m-1 m-sm-none col-12 col-sm-7 botones boton1 btn btn-light text-dark font-weight-bold">Calcular indice 
          de grasa corporal</button>
        </div>
        <div class="col-12 col-sm-6 d-none d-sm-flex justify-content-between flex-row p-1 p-sm-4">
          <button (click)="onQueEs()" class="m-1 m-sm-none botones boton1 btn btn-light text-dark font-weight-bold">¿Que es el indice 
        de grasa corporal?</button>
          <button (click)="onReferencia()" class="m-1 m-sm-none ml-3 botones boton1 btn btn-dark text-light font-weight-bold">Referencia de 
      indice de grasa corporal</button>
        </div>
      
    </header>
    <div class="body row">
      <div class="ladoA col-12 col-sm-6 ">
        <app-calcular></app-calcular>
      </div>
      <div class="ladoB col-12 col-sm-6 mt-4 mt-sm-none">
        <div class="ladoB1" *ngIf="queEs">
          <div class="ladoB2 rounded p-2 m-4">
            <p class="ladoB3 text-justify m-2"> El porcentaje de grasa corporal (BFP) de un ser humano u otro ser vivo es la masa total de grasa dividida por la masa corporal total, multiplicada por 100; la grasa corporal incluye grasa corporal esencial y grasa corporal de almacenamiento.<br/> <br/></p><p class="ladoB3 text-justify m-2" >La grasa corporal esencial es necesaria para mantener la vida y las funciones reproductivas. El porcentaje de grasa corporal esencial para las mujeres es mayor que para los hombres, debido a las demandas de la maternidad y otras funciones hormonales.<br/><br></p><p class="ladoB3 text-justify m-2" > El almacenamiento de grasa corporal consiste en la acumulación de grasa en el tejido adiposo, parte del cual protege los órganos internos en el pecho y el abdomen.<br/><br/></p> <p class="ladoB3 text-justify m-2" >El porcentaje mínimo recomendado de grasa corporal total excede el valor del porcentaje de grasa esencial informado anteriormente.</p>
          </div>
        </div>
        <div class="ladoBB1" *ngIf="referencia">
          <div class="titulo1 d-flex justify-content-center font-weight-bold mt-1 align-content-center rounded btn-dark flex-wrap d-flex"><p class="mt-1">Grasa corporal ideal en el hombre según la edad</p></div>
          <table class="table table-hover table-bordered table-striped">
           <thead class="thead-light">
              <tr>
               <th></th>
               <th>20 a 29 años</th>
               <th>30 a 39 años</th>
               <th>40 a 49 años</th>
               <th>50 a 59 años</th>
             </tr>
           </thead>
           <tbody>
             <tr class=" table-primary">
               <th scope="row">Atleta</th>
               <td>Menos de 11%</td>
               <td>Menos de 12%</td>
               <td>Menos de 14%</td>
               <td>Menos de 15%</td>
             </tr>
              <tr class="table-active">
                <th scope="row">Bueno</th>
                <td>11% a 13%</td>
                <td>12% a 14%</td>
                <td>14% a 16%</td>
                <td>15% a 17%</td>
              </tr>
              <tr class=" table-primary">
               <th scope="row">Normal</th>
               <td>14% a 20%</td>
               <td>15% a 21%</td>
               <td>17% a 23%</td>
               <td>18% a 24%</td>
             </tr>
             <tr class="table-active">
                <th scope="row">Elevado</th>
                <td>21% a 23%</td>
                <td>22% a 24%</td>
                <td>24% a 26%</td>
                <td>25% a 27%</td>
              </tr>
              <tr class=" table-primary">
               <th scope="row">Muy Elevado</th>
               <td>más de 23%</td>
               <td>más de 24%</td>
               <td>más de 26%</td>
               <td>más 27%</td>
             </tr>
            </tbody>
          </table>
          <div class="titulo2 d-flex justify-content-center font-weight-bold align-content-center rounded btn-dark flex-wrap d-flex"><p class="mt-1">Grasa corporal ideal la mujer según la edad</p></div>
          <table class="table table-hover table-bordered table-striped">
           <thead class="thead-light">
              <tr>
               <th></th>
               <th>20 a 29 años</th>
               <th>30 a 39 años</th>
               <th>40 a 49 años</th>
               <th>50 a 59 años</th>
             </tr>
           </thead>
           <tbody>
             <tr class=" table-danger">
               <th scope="row">Atleta</th>
               <td>menos de 16%</td>
               <td>menos de 17%</td>
               <td>menos de 18%</td>
               <td>menos de 19%</td>
             </tr>
              <tr class="table-active">
                <th scope="row">Bueno</th>
                  <td>16% a 19%</td>
                  <td>17% a 20%</td>
                  <td>18% a 21%</td>
                  <td>19% a 22%</td>
              </tr>
              <tr class=" table-danger">
               <th scope="row">Normal</th>
                <td>20% a 28%</td>
                <td>21% a 29%</td>
                <td>22% a 30%</td>
                <td>23% a 31%</td>
             </tr>
             <tr class="table-active">
                <th scope="row">Elevado</th>
                  <td>29% a 31%</td>
                  <td>30% a 32%</td>
                  <td>31% a 33%</td>
                  <td>32% a 34%</td>
              </tr>
              <tr class=" table-danger">
               <th scope="row">Muy Elevado</th>
                <td>más de 31%</td>
                <td>más de 32%</td>
                <td>más de 33%</td>
                <td>más de 34%</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    <footer class="footer d-flex justify-content-center ">
      <h6 class="text-light font-weight-bold mt-1">Aplicación desarrollada por René Ramírez, visitanos en: <a class="text-dark" href="https://www.ramsolutions.xyz">www.ramsolutions.xyz</a></h6>
    </footer>
  </section>
  
</body>
</html>
