<section class="ml-5 calcular" action="index.html" method="post">
	<div class="mt-3 fromulario m-auto row">
		<label class="ml-4 mt-4 font-weight-bold col-7" for="peso">Indique su peso</label>
		<input class="ml-4 mt-1 form-control col-8" type="number" name="peso" placeholder="indique su peso expresado en Kilogramos" [(ngModel)]="peso" >
		<label  class="ml-4 mt-4 font-weight-bold col-7" for="altura">Indique su altura</label>
		<input class="ml-4 mt-1 form-control col-8" type="number" name="altura" placeholder="indique su altura expresada en metros" [(ngModel)]="altura">
		<label  class="ml-4 mt-4 font-weight-bold col-7" for="edad">Indique su edad</label>
		<input class="ml-4 mt-1 form-control col-8" type="number" name="edad" placeholder="indique su altura expresada en años" [(ngModel)]="edad">

		
	</div>
	<div class="botones d-flex justify-content-start">
		<button (click)="onCalcularH()" class="boton-h mt-4 btn btn-dark text-light font-weight-bold">Calcular (Soy Hombre)</button>
		<button (click)="onCalcularM()" class="ml-2 boton-m mt-4 btn btn-dark text-light font-weight-bold">Calcular (Soy Mujer)</button>
	</div>
	<div *ngIf="calculado" class="resultado d-flex justify-content-start flex-column font-weight-bold  rounded p-2 w-75 mt-4">
		<p>Su índice de grasa corporal es de {{ iGC }}%</p>
		
	</div>
</section>
